<div class="container">
    {{if .Tasks}}
        {{ range .Tasks }}
            <div class="task-item">
                <div class="task-wrapper">
                    <p class="taskname">{{.TaskName}}</p>
                    <button id="assignee-toggle" class="assignee-toggle">Toggle assignee</button>
                </div>
                <div class="assignee-wrapper">
                    <p class="assignee">{{.Assignee}}</p>
                </div>
                <div class="isdone-wrapper">
                    <p class="isDone">{{.IsDone}}</p>
                </div>
            </div>
        {{ end }}
    {{else}}
        <div class="no-tasks">
            <p>No Tasks yet.</p>
            <p><a href="/task">Add now</a></p>
        </div>
    {{end}}
</div>

<script src="/javascript/app.js"></script>